{% extends 'store/main.html' %}

{% block content %}
    <div style="padding: 10px">
        <p>We are 4th year young Computer Science and Engineering Under Graduate students. This project is developed for
            Net
            Centric Program an elective based subject in Amrita School of Engineering, Bengaluru, having Ms. Nalini
            Sampath as our faculty. We developed a web-based application in which a user can able to
            purchase the products from the store. And there are different categories of products that will be available,
            in
            which the user can able to choose a category and have to add the products to the cart. And after adding all
            the
            required products to the cart the user can able to pay the billed amount from the integrated payment gateway
            and
            an order ID will be created so that the user has to show the order ID at the store to pick his order. Users
            can
            able to shop from the comfort of their home. And we have created our custom wallet so that users can Top Up
            their wallet and can pay bill directly from the wallet. Users will get to know about the quality of the
            products
            by the reviews of the previous buyers. We have a statistics report showing for each of the product that
            guides
            the users to take a decision to buy the product or not.</p>
        <hr>
        <div>
            <table>
                <td style="padding-right: 10px">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top"
                             src="https://avatars.githubusercontent.com/u/54109224?v=4" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">A young Computer Science student pursuing his Under graduation with
                                technical areas of interest in Machine Learning, Web Application Development, Robotics
                                and
                                Quantum Computing. And active member of IEEE SB, ASEB.</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top"
                             src="https://avatars.githubusercontent.com/u/46235445?v=4" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">A 4th-year Computer Science and Engineering student who is an active
                                member
                                of the FACE executives and Google DSC-ASEB Technical., also Student at IBM Quantum's
                                QubitxQubit at The Coding School.</p>
                        </div>
                    </div>
                </td>
            </table>
        </div>

{% endblock %}